.App {
  padding: 20px;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.login-container {
  width: 50%;
  /* top-bottom , left -right */
  margin: 0 25%; 
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px, 0;
  font-size: 1rem;
  border-radius: 8px;

}

button {
  margin-top: 10px;
  color: #444444;
  background-color: #f3f3f3;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.8rem;
  outline: none;
}
button:disabled {
  color: #f3f3f3;
  background-color: #444444;
  cursor: not-allowed;
}

.orange{
  color: orange;
}
.purple{
  color: purple;
}
.rate-container  {
  border-top: 2px solid purple;
  margin-top:20px
}
.rate-container .fa-star {
  font-size: 1.8rem;
  cursor: pointer;
}
.movie-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
}
.movie-item svg {
  font-size: 1.2rem;
  margin: 16px 5px;
}
.fa-trash {
  color: crimson;
}
h1 {
  color: orange;
}
h1 .fa-film {
  color: white;
  transform: rotate(30deg);
}